exportPattern("^[[:alpha:]]+")
export(get_readscount)
export(stats_readscount)
export(read_distribute)
export(ses_evluate)
export(ctest_evluate)
export(hcluster)
export(ms_relation)
export(two_cond_ms)
export(Trumpet_report)
export(get_readscount2)
import(Guitar)
import(ggplot2)
import(reshape2)
import(rmarkdown)
import(exomePeak)
import(knitr)
import(xtable)
