export(Trumpet_report)
import(Guitar)
import(ggplot2)
import(reshape2)
import(rmarkdown)
import(exomePeak)
import(knitr)
import(xtable)
importFrom("graphics", "plot")
importFrom("stats", "aggregate", "dist", "hclust", "quantile", "sd")
importFrom("grid", "grid.layout", "grid.newpage", "pushViewport", "viewport")
importFrom("S4Vectors", "fold", "mcols")
importFrom("GenomicFeatures", "cdsBy", "exonsBy", "fiveUTRsByTranscript", "intronsByTranscript", "threeUTRsByTranscript", "makeTxDbFromGFF", "makeTxDbFromUCSC")
importFrom("GenomicRanges", "countOverlaps")
importFrom("AnnotationDbi", "loadDb")
importFrom("GenomicAlignments", "readGAlignments")
